<!DOCTYPE html>
<html lang="pt-br" ng-app="ShellBayApp">
    <head>
        <title>ShellBay</title>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="./img/narval.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.min.css">
        <script src="index-controller.js"></script>
        <link rel="stylesheet" href="./styles/styles.css">
    </head>
    <body ng-controller="IndexCtrl" layout="column" flex>
        <md-toolbar class="md-primary md-small-tb">
            <div layout="row">
                <img style="width: 35px; height: 35px; margin-top: 4px; margin-left: 10px" src="img/narval.ico" alt="Narval logo"/>
                <h2 class="md-toolbar-tools" style="margin-top: -10px; margin-left: 10px" flex>
                    <span>ShellBay</span>
                </h2>
            </div>
        </md-toolbar>

        <div flex layout="row" layout-align="center" style="margin-top: 5px">
            <div layout="column" flex="50">
                <md-toolbar class="md-primary md-small-tb">
                    <div layout="row">
                        <h2 class="md-toolbar-tools" style="margin-top: -10px; margin-left: 10px" flex>
                            <span>Probabilidade das Hipóteses</span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-table-container  style="border: groove;">
                    <label></label>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column><span>Hipóteses</span></th>
                            <th md-column><span>Probabilidades</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="p in probabilidadesHipoteses">
                            <td md-cell>
                                <md-input-container>
                                    <label>Hipótese</label>
                                    <input type="text" ng-model="p.hipotese">
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <md-input-container>
                                    <label>P(Hi)</label>
                                    <input type="text" ng-model="p.probabilidade">
                                </md-input-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div layout="row">
                    <div flex layout="row" layout-align="end">
                        <md-button flex="30" class="md-primary md-raised" ng-click="removerRowHipoteses()" ng-if="probabilidadesHipoteses.length">
                            Remover
                        </md-button>
                        <md-button flex="30" class="md-primary md-raised" ng-click="addRowHipoteses()">
                            Adicionar
                        </md-button>
                    </div>
                </div>
            </div>
            <div layout="column" flex="50" style="margin-left: 5px">
                <md-toolbar class="md-primary md-small-tb">
                    <div layout="row">
                        <h2 class="md-toolbar-tools" style="margin-top: -10px; margin-left: 10px" flex>
                            <span>Probabilidades das Evidências</span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-table-container  style="border: groove;">
                    <label></label>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column><span>Evidências</span></th>
                            <th md-column><span>Probabilidades</span></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="pH in probabilidadesEvidencias">
                            <td md-cell>
                                <md-input-container>
                                    <label>Evidencia</label>
                                    <input type="text" ng-model="pH.evidencia">
                                </md-input-container>
                            </td>
                            <td md-cell>
                                <md-input-container>
                                    <label>P(Hi)</label>
                                    <input type="text" ng-model="pH.probabilidade">
                                </md-input-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <div layout="row">
                    <div flex layout="row" layout-align="end">
                        <md-button flex="30" class="md-primary md-raised" ng-click="removerRowEvidencias()" ng-if="probabilidadesEvidencias.length">
                            Remover
                        </md-button>
                        <md-button flex="30" class="md-primary md-raised" ng-click="addRowEvidencias()">
                            Adicionar
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
    </body>
</html>